<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sdszhq.mapper.TeacherExamInformationMapper">

    <select id="addExamInformation"  parameterType="top.sdszhq.pojo.ExamInformation">
        INSERT INTO examInformation VALUES(NULL,'${name}','${createDate}','${exam}','${totalScore}','${examCode}','${person}','${subject}','${examDate}');
    </select>

    <select id="findExamInformation" parameterType="hashmap" resultType="top.sdszhq.pojo.ExamInformation" >
        SELECT t.`id`,t.`name`,t.`createDate`,t.`totalScore`,t.`person`,t.`subject`,t.`exam`,t.`examCode`,t.`examDate` FROM examInformation t
        <where>
            <if test="#{name} != null">
                t.`person` =#{name}
            </if>

            <if test="#{selectExamInformation} != null">
                and t.`name` like '%${selectExamInformation}%'
            </if>
        </where>
    </select>

</mapper>